<html>
  <head>
  </head>
<div class="row">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-10 col-xs-10">
      <h2><%=@Title.to_s()%></h2>
    <a class="lead lead-detev a-detev" id="eventTags"></a>
    <hr class='hr-detev'>

    <div class="row">

        <div class="col-md-7 col-xs-12" id="mainrow">

            <!-- Preview Image -->
            <div class='container-fluid imagen'>
              <div class='row'>
              <div class="col-md-12 col-sm-12 col-xs-12">
            <% if @Location != nil%>
                <p><span class="glyphicon glyphicon-detev glyphicon-map-marker"></span> <a class='a-detev' id="eventLoc"><%=@Location["name"]%><br/><%=@Location["full_address"]%></a></p>
            <% end%>
            <p><span class="glyphicon glyphicon-detevº glyphicon-calendar"></span>   <span id="eventDate"><%=@Date.to_s() %></span></p>
              <p><span class="glyphicon glyphicon-detevglyphicon-globe"></span>  <a id="eventUri" class='a-detev'></a></p>
              </div>
                  <div class='col-md-8 col-sm-8 col-xs-12'>
                    <img class="img-responsive" src="<%=@ImgUri.to_s()%>">
                  </div>
              </div>
            </div>
             <hr class='hr-detev'>
           <!-- Post Content -->
           <h4><%=@Desc.to_s()%></h4>
            <hr class='hr-detev'>
        </div>
    <div class="col-md-5 col-xs-12"> 
      <%= content_tag(:iframe, "", src: "https://www.rosario.gov.ar/web/webservices/mapa/mapa.html?x=#{@Location["coordx"]}&y=#{@Location["coordy"]}&nivelZoom=6", width: "100%", height: "300vh", frameborder: 0) %></div>
    </div>
    <div class="col-md-1 col-xs-1"></div>
    </div>
    </div>
  </div>
</body>
