<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'eventos', 'data-turbolinks-track': 'reload'%>
    <%= render 'layouts/defaultrails' %>
    <%= render 'layouts/shim' %>

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <!-- Fin navbar -->
  </nav>
  <!-- Inicio Modal -->
  <%= render 'layouts/modal' %>
  <!-- Fin Modal -->
  <div class = 'container'>
    <!-- <div class = 'pattern'>
      <div class ="anti-pattern"> -->
        <%= yield %>
        <%= render 'layouts/footer' %>
      <!-- </div>
    </div> -->
  </div>
  </body>
</html>
